<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Config.Services.GoogleAnalytics.ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ .Site.Config.Services.GoogleAnalytics.ID }}');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="author" content="Тимур Нурисламов" />
    {{ partial "google-fonts" . }}
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🍺</text></svg>">
    {{ partial "head.html" . }}
    {{ $style := resources.Get "scss/main.scss" | css.Sass | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ .Data.Integrity }}">
    {{ $js:= resources.Get "js/main.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ .Data.Integrity }}"></script>

    <title itemprop="name">
      {{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}
    </title>
    <meta name="description" content="{{ .Site.Params.description }}" />
    <meta name="keywords" content="{{ .Site.Params.keywords }}" />
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}
    {{ block "footer" . }}
    <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
    {{ end }}
  </body>
</html>
