{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div class="container">
    <header class="header inner">
      <a class="logo" href="/">timur.pub</a>
      <div class="menu">
        <a href="https://minimalapplauncher.framer.website" target="_blank" rel="noopener">📱 Minimal App Launcher ↗︎</a>
        <!-- <a href="/void" target="_blank" rel="noopener">📷 Void ↗︎</a> -->
        <a download="timur_nurislamov_cv.pdf" href="download/cv.pdf" class="cv">Моё CV</a>
      </div>
    </header>
    <main aria-roledescription="main">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </main>
    {{ partial "footer.html" }}
  </div>
{{ end }}
