$body-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
$background-color-light: #f8f9fa;
$background-color-dark: #212529;
$text-color-light: #212529;
$text-color-dark: #fff;
$link-color: #2176ff;
$post-background-light: #e9ecef;
$post-background-dark: #343a40;
$post-border-color: #6c757d;
$muted-text-color-light: #6c757d;
$muted-text-color-dark: #adb5bd;

html {
  font-size: 112.5%;
}

body {
  margin: 0;
  font-family: $body-font-family;
  background-color: $background-color-light;
  color: $text-color-light;
  font-weight: 400;
  line-height: 1.75;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $background-color-dark;
    color: $text-color-dark;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 2rem;

  &.inner {
    padding: 0 0 2.8rem;
  }

  a {
    text-decoration: none;
  }
}

.logo {
  color: inherit;
  font-size: 0;

  &::before {
    content: '🍺';
    font-size: 1.2rem;
  }

  &:hover::before {
    content: '🍻';
    font-size: 1.2rem;
  }
}

.intro {
  margin-bottom: 2rem;
}

main {
  padding: 2rem 4rem;
  max-width: 40rem;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding: 1rem;
  }

  img {
    max-width: 100%;
  }
}

p {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small, .text_small {
  font-size: 0.889rem;
}

a {
  color: $link-color;
  text-decoration: none;

  &:not(.logo):not(.post):hover {
    text-decoration: underline;
  }
}

.posts {
  padding: 0;
  list-style: none;

  li {
    display: block;

    a {
      display: block;
      padding: 1rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      background-color: $post-background-light;
      border-radius: 12px;
      border: 1px solid transparent;
      color: inherit;
      text-decoration: none;
      transition: all .2s ease-in-out;

      &:hover {
        border-color: $post-border-color;
        box-shadow: 0 4px 8px rgba(0,0,0,.04);
      }

      h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        font-size: inherit;
      }

      span {
        color: $muted-text-color-light;
      }

      .date {
        font-size: 0.75rem;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .posts {
    li {
      a {
        background-color: $post-background-dark;

        span {
          color: $muted-text-color-dark;
        }
      }
    }
  }
}

footer {
  display: flex;
  margin: 3.6rem 0 0;
  align-items: center;
  justify-content: space-between;
  font-size: 0.75rem;
  color: $muted-text-color-light;

  span {
    margin-right: 1rem;
  }

  a {
    color: inherit;
  }
}
