$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-serif: "Source Serif 4", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, serif;
$font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

// Dark
$background-color-dark: #100F0F;
$card-background-dark: #1C1B1A;
$text-color-dark: #fff;
$link-color-dark: #4385BE;
$muted-text-color-dark: #575653;

// Light
$background-color-light: #fff;
$card-background-light: #ededed;
$text-color-light: #100F0F;
$link-color-light: #205EA6;
$muted-text-color-light: #6F6E69;

$desktop: 768px;

html {
  font-size: 112.5%;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: $font-sans;
  background-color: $background-color-light;
  color: $text-color-light;
  font-weight: 400;
  line-height: 1.75;
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
  hyphenate-limit-chars: 6 3 3;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $background-color-dark;
    color: $text-color-dark;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 2rem;

  &.inner {
    padding: 0 0 2.8rem;
  }

  a:not(.logo):not(.project-logo) {
    margin-left: 1rem;
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 600;
    color: $text-color-light;
    border-bottom: 2px solid fade-out($color: $text-color-light, $amount: .9);

    &:hover {
      border-bottom-color: fade-out($color: $text-color-light, $amount: .7)
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header a:not(.logo):not(.project-logo) {
    color: $text-color-dark;
    border-bottom-color: fade-out($color: $text-color-dark, $amount: .9);

    &:hover {
      border-bottom-color: fade-out($color: $text-color-dark, $amount: .7)
    }
  }
}

.logo {
  color: inherit;
  font-size: 0;

  &::before {
    content: '🍺';
    font-size: 1.2rem;
  }

  &:hover {
    text-decoration: none;
  }

  &:hover::before {
    content: '🍻';
    font-size: 1.2rem;
  }
}

.download {
  display: flex;
  padding: 1.2rem 1.4rem;
  background-color: $card-background-light;
  border-radius: 2rem;
  justify-content: center;

  @media screen and (min-width: $desktop) {
    padding: 1.6rem 2rem;
  }
}

.app_store_button {
  display: block;
  width: 140px;
  height: 40px;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  background-image: url(/images/app_store_light.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

figure {
  margin-left: 0;
  margin-right: 0;

  figcaption {
    font-size: 0.75rem;
    text-align: center;
    color: $muted-text-color-light;
  }
}

@media (prefers-color-scheme: dark) {
  figure {
    figcaption {
      color: $muted-text-color-dark;
    }
  }
  
  .app_store_button {
    background-image: url(/images/app_store_dark.svg);
  }
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 0;
  max-width: 56rem;
  margin: 0 auto;
  min-height: 100vh;

  @media screen and (min-width: $desktop) {
    padding: 2rem 4rem 0;
  }
}

main {
  img {
    max-width: 100%;
  }

  blockquote {
    border-radius: 0 1rem 1rem 0;
    border-left: 4px solid $muted-text-color-light;
    margin-left: 0;
    padding: 1rem;
    font-family: $font-sans;
    background-color: $card-background-light;

    p {
      font-family: inherit;
    }

    p:last-child {
      margin: 0;
    }

    h4 {
      margin: 0 0 1rem;
    }
  }
}

.gitinfo {
  code {
    font-size: 0.75rem;
    color: $muted-text-color-light;
  }
}

p {
  margin-bottom: 1rem;
  
  main:not(.project) & {
    font-family: $font-serif;
  }
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small, .text_small {
  font-size: 0.889rem;
}

a {
  color: $link-color-light;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.intro {
  margin-bottom: 4rem;
  padding: 1.2rem 1.4rem;
  background-color: $card-background-light;
  border-radius: 2rem;

  h2 {
    margin-top: 1rem;
  }

  p {
    font-family: $font-sans;
  }
  
  a {
    text-decoration: underline;
  }

  @media screen and (min-width: $desktop) {
    padding: 1.6rem 2rem;
  }
}

.posts {
  padding: 0;
  list-style: none;

  li {
    display: block;

    h3 {
      margin-top: 0;
      margin-bottom: 0.5rem;
      font-size: inherit;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 1rem;
      text-decoration: none;
      color: $link-color-light;

      @media screen and (min-width: $desktop) {
        flex-direction: row;
        align-items: center;
        border-bottom: 1px dotted fade-out($muted-text-color-dark, 0.6);
      }

      &:hover {
        text-decoration: none;
      }

      span {
        position: relative;
        top: 5px;
        background-color: $background-color-light;

        @media screen and (min-width: $desktop){
          &:first-child {
            padding-right: 5px;
          }
  
          &:last-child {
            padding-left: 5px;
          } 
        }
      }

      .date {
        font-size: 1rem;
        font-weight: normal;
        color: $muted-text-color-light;
        white-space: nowrap;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  a {
    color: $link-color-dark;
  }

  .intro {
    background-color: $card-background-dark;
  }

  .download {
    background-color: $card-background-dark;
  }

  .posts {
    li {
      a {
        color: $text-color-dark;

        span {
          background-color: $background-color-dark;
        }

        .date {
          color: $muted-text-color-dark;
        }
      }
    }
  }

  main {
    blockquote {
      border-left: 4px solid $muted-text-color-dark;
      background-color: $card-background-dark;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  height: 4.8rem;
  margin: auto 0 0;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.75rem;
  color: $muted-text-color-light;

  a {
    color: inherit;
    margin-left: 1rem;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
