{{ define "main" }}
<div class="container">
  <header class="header">
    <a class="logo" href="/">timur.pub</a>
    <div class="menu">
      <a href="https://minimalapplauncher.framer.website" target="_blank" rel="noopener">📱 Minimal App Launcher
        ↗︎</a>
      <!-- <a href="/void" target="_blank" rel="noopener">📷 Void ↗︎</a> -->
      <a download="timur_nurislamov_cv.pdf" href="download/cv.pdf" class="cv">Моё CV</a>
    </div>
  </header>
  <main aria-roledescription="main">
    <div class="intro">
      {{.Content}}
    </div>
    <div>
      <ul class="posts">
        {{ range ( where .Site.RegularPages "Type" "posts" | first 10 ) }}
        <li>
          <h3>
            <a href="{{ .Permalink }}">
              <span>{{ .Title }}</span>
              <span class="date">{{ .Date | time.Format ":date_medium" }}</span>
            </a>
          </h3>
        </li>
        {{ end }}
      </ul>
    </div>
  </main>
  {{ partial "footer.html" }}
</div>
{{ end }}