{{ define "main" }}
    <main aria-role="main">
      <header class="header">
        <a class="logo" href="/">timur.pub</a>
        <nav>
          <a href="https://timur.one">Автор <small>↗</small></a>
        </nav>
      </header>
      <div class="intro">
        <!-- Note that the content for index.html, as a sort of list page, will pull from content/_index.md -->
        {{.Content}}
      </div>
      <div>
        <ul class="posts">
          <!-- Ranges through content/posts/*.md -->
          {{ range ( where .Site.RegularPages "Type" "posts" | first 10 ) }}
            <li>
                <a class="post" href="{{.Permalink}}">
                  <span class="date">{{ .Date | time.Format ":date_long" }}</span>
                  <h1>{{.Title}}</h1>
                  <span>{{.Summary}}</span>
                </a>
            </li>
          {{ end }}
          </ul>
      </div>
      {{ partial "footer.html" }}
    </main>
{{ end }}
